// Specific CSS for your home-page
// .homepage {
//   background-image: url("https://picsum.photos/200/300/?random");
//   background-repeat: no-repeat;
//   background-size: auto;
//   background-size: cover;
// }

#homepage-banner {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("landingpage_banner.jpg");


/* Set a specific height */
height: 75vh;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

#homepage-banner h1 {
  color: white;
}

#homepage-banner p {
  color: white;
}

.body {
  margin: 25px 50px 75px 100px;
  font-size: 14px;
}

.container{
  margin-top: 70px;
}

li {
  list-style: none;
}

a {
    color: #008489;
    text-decoration: none;
}
.all-items-link {
  padding-bottom: 20px;
}


.landing-card {
  border-radius: 2px;
  border-width: 2px;
  border: 2px solid #dce0e0;
  width: 200px;
  margin: 20px;
  padding: 20px;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
// .footer-links {
//   display: flex;
//   align-items: center;
// }
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
