<h1>Booking#show</h1>
<p>Find me in app/views/booking/show.html.erb</p>


<% @bookings.each do |booking| %>
  <% if policy(booking).edit? %>
    <%= link_to "Update", edit_booking_path(booking) %>
  <% end %>
<% end %>