<div class="container">
  <h2>Edit Profile</h2>
  <%= simple_form_for @user do |f| %>
    <%= f.text_area :about, placeholder: "Describe yourself here" %>
    <%= f.submit "Update" %>
  <% end %>
</div>
