<div class="body">
  <div class="container">
    <div class="row">
      <h1> show personal users profile page here </h1>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12"> </div>
        <h2> Hey I'm <%=  %></h2>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
        <p> seems this is the only one we need to take care of?? </p>
      </div>
  </div>
</div>

