<div class="body">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-4 hide-sm">
        <div id="user" class="space-4 ">
          <li class="active media-photo media-photo-block">
            <img alt="Valentina" class="img-responsive" height="225" src="https://a0.muscache.com/im/pictures/user/839bb36a-9a59-4c70-bf48-159a859305a0.jpg?aki_policy=profile_x_medium" title="Valentina" width="225">
          </li>

        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Connected Accounts</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Connected accounts
        </div>
        <div class="panel-body">
          <ul class="list-unstyled space-3" title="Connected accounts">
            <li class="row row-table space-2">
              <div class="col-12 col-middle">
                Facebook
              </div>
              <div class="col-3 col-middle">
                <i class="icon icon-ok h3" aria-hidden="true"></i>
              <span class="screen-reader-only">Verified</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel space-4">
        <div class="panel-header">
          About me
        </div>
        <div class="panel-body">
          <dl>
            <dt>School</dt>
            <dd>American School of Milan, Central Saint Martins, Central Saint Martins School of Art</dd>
          </dl>
        </div>
      </div>


     </div>

      <div class="col-lg-9 col-md-8 col-sm-12">
        <div>
          <h3> Hey I'm <%=  %></h2>


          <div class="h5 space-top-2">
            <a href="/s/London--United-Kingdom" class="link-reset">London, United Kingdom</a>
            <span class="text-normal">
              Joined in <%=  %>
            </span>
          </div>

          <div class="text-muted space-top-2">
            <span> Report this user </span>
          </div>

          <div class="edit_profile_container space-3">
          <a href="/users/edit">Edit Profile</a></div>

      </div>
    </div>



      </div>
  </div>
</div>

