<div class="custom-footer">
  <div class="custom-footer-links">
this is your custom-footer
  </div>
  <div class="custom-footer-copyright">
     <%= link_to 'All Items', items_path %>
     this is your custom-footer
  </div>
</div>
