<div id="homepage-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path 'landingpage_banner.jpg' %>);">
  <div class="container">
    <div>
      <h1>Politician rental</h1>
      <p>Rent politicians' belongings!</p>
    </div>
  </div>
</div>

<!-- Things for rent container -->
  <div class="container">
    <h2>Things for Rent</h2>
    <div class="row">
      <div class="col-md-4 col-xs-6 landing-card">Image of item, and Link to Transport Index</div>
      <div class="col-md-4 col-xs-6 landing-card">Image of item, and Link to Accommodation Index</div>
      <div class="col-md-4 col-xs-6 landing-card">Image of item, and Link to Miscellaneous Index</div>
    </div>
    <div class="all-items-link">
      <%= link_to items_path do %>
        <p>All Items</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="flex-container-left">
        <h2>Items Free Now</h2>
        <div class="cards">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(<%= image_path 'logo.png' %>)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="flex-container-right">
        <h2>Flash deals</h2>
        <div class="cards">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
