
.banner{
  background-size: cover;
  min-height: calc(100vh - 140px);
  h1 {
    color: white;
    font-size: 67px;
    margin-top: 100px;
    margin-bottom: 35px;
    letter-spacing:20px;
    font-family: "Raleway", sans-serif;
  }
  p {
    // margin-bottom: 50px;
    font-size: 25px;
    color: white;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
}

.flexbox_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flexbox3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-custom{
  background-size: cover;
  min-height: calc(100vh - 140px);
}
abbr[title="required"] {
  display: none;
}
