.custom-footer {
  display: flex;
  height: 70px;
  width: 100vw;
  background: #F4F4F4;
  align-items: center;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  position: fixed;

}
.custom-footer-links {
  display: flex;
  align-items: center;
}
.custom-footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 18px;
}
.custom-footer-links a:hover {
  opacity: 1;
}
